{% extends "layout.html" %}
{% block body %} 

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
        <h3>Pleasde provide details of faculty.</h3>
            <form method=POST action="{{ url_for('addstudent') }}" onsubmit="return checkForm(this);">
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                Allotment Details..
                    <div class="form-group">
                      <label for="sel1">Select Standard :</label>
                      <select class="form-control" name="std">
                        <option value="6">6 th</option>
                        <option value="7">7 th</option>
                        <option value="8">8 th</option>
                        <option value="9">9 th</option>
                         <option value="10">10 th</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="sel1">Select Division :</label>
                      <select class="form-control" name="div">
                        <option value="A">A</option>
                        <option value="B">B</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="sel1">Select Subject :</label>
                      <select class="form-control" name="sub">
                        <option value="English">English</option>
                        <option value="Maths">Maths</option>
                        <option value="History">History</option>
                        <option value="Science">Science</option>
                         <option value="Gujarati">Gujarati</option>
                      </select>
                    </div>


                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
            <br>
        </div>
    </div>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>


{% endblock %}